.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}
/* box1は実線で囲むだけ */

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    display: inline-block; /*文字数に応じてサイズを作る*/
    
}
.box2 p {
    margin: 0; 
    padding: 0;
}
/* box2は色線で囲む */

.box15 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    text-align: center; /*中央揃え*/
}
.box15 p {
    margin: 0; 
    padding: 0;
}

.originalbox {
    position: relative;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #201313;
    border: solid 3px #000000;
    z-index: 1;
}
.originalbox::after{
    position: absolute;
    background:  rgba(228, 138, 138, 0.8);
    border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
    top:3px;
    left:5px;
    content:"";
    height:100%;
    width:100%;
    z-index:-999;
  
}
.originalbox p {
    margin: 0; 
    padding: 0;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}

.simple_center{
    text-align: center;
}

.morimakuri_header {
    position: relative;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #201313;
    border: solid 3px #000000;
    z-index: 1;
    text-align: center;
    display: inline-block;
    
}
.morimakuri_header::after{
    position: absolute;
    background:  rgba(228, 138, 138, 0.8);
    border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
    top:3px;
    left:5px;
    content:"";
    height:100%;
    width:100%;
    z-index:-999;
    display: inline-block;
  
}

.morimakuri_center {
    position: relative;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #201313;
    border: solid 3px #000000;
    z-index: 1;
    text-align: center;
    display: inline-block;
}
.morimakuri_center::after{
    position: absolute;
    background:  rgba(228, 138, 138, 0.8);
    border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
    top:3px;
    left:5px;
    content:"";
    height:100%;
    width:100%;
    z-index:-999;
    display: inline-block;
  
}

.retro_box{
    padding:0.5em;
    margin:1em;
    border:3px #83603a;
}
.medatu_image{
    width: 50vw;
}
.first{
    width:50vw;
    text-align: center;
}
body {
    background-color:#f2f0e9;
    }
